* {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

label.module {
    padding: 0 10px;
    margin: 0 1px;
    border: black 2px solid;
    border-radius: 5px;
    /* color: black; */
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

tooltip label {
    color: white;
}

/* #workspaces {
    border: black 2px solid;
    background: #adadad;
    border-radius: 5px;
    min-height: 14px;
} */

#battery{
    background-color: #adadad;
    color: black;
}
#battery.warning { 
    color: #ffc857;
    text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}
#battery.critical { color: red; }


#cpu, #memory, #bluetooth, #network, #clock, #pulseaudio, #language, #temperature{
    background-color: #adadad;
    color: black;
}

/* #cpu{
    text-align: right;

} */

#workspaces button{
    background-color: #adadad;
    color: #adadad;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0 5px;
    margin: 1px;
    transition: padding 0.2s ease-in-out
}
#workspaces button.active{
    padding: 0 15px;
}